<<%- include ('../partials/header') %>
<%- include ('../pages/menu_navbar') %>
<main>

    <main>
        <div class="container" >
          <!-- THE REST OF YOUR HTML CODE GOES HERE -->
          <div class="col"><%- include ('../partials/message') %></div>
          <h1><centre>Workouts for this Week</centre></h1>
<table>
<tr>
        <form action="/home/add" method="post">
            <td>
              <select name="day_name" class="form-select" aria-label="Default select example" required>
            <option selected>Day</option>
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
          </td>
          <td>
          <select name = 'exercise_id' class="form-select" aria-label="Default select example" required>
            <option selected>Select Exercise</option>
            <% data.forEach((exercise) => { %>
              <option value='<%- exercise.exercise_id %>' ><%- exercise.exercise_name %></option>
           <% }) %>          
          </select>
            </td>
            <td>
              <button type="submit" class="btn btn-primary"style="background-color:#d4e7fc;color:#3c3c3c;display:block; border-radius: 6px;font-size: 15px; width:80px" onclick="alertSomething('added!')">add</button>
            </td>
          </form>
          </tr>
</table>
  

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Exercise name</th>
                <th scope="col">Reps</th>
                <th scope="col">Number of Sets</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Monday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                          <th scope="row">Monday</th>
                          <td> <%- workout.exercise_name %></td>
                          <td> <%- workout.reps %></td>
                          <td> <%- workout.set_num %></td>
                          <td> <%- workout.description %></td>
                        </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
              <tr>
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Tuesday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                            <th scope="row">Tuesday</th>
                            <td> <%- workout.exercise_name %></td>
                            <td> <%- workout.reps %></td>
                            <td> <%- workout.set_num %></td>
                            <td> <%- workout.description %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
              <tr>
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Wednesday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                            <th scope="row">Wednesday</th>
                            <td> <%- workout.exercise_name %></td>
                            <td> <%- workout.reps %></td>
                            <td> <%- workout.set_num %></td>
                            <td> <%- workout.description %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
              <tr>
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Thursday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                            <th scope="row">Thursday</th>
                            <td> <%- workout.exercise_name %></td>
                            <td> <%- workout.reps %></td>
                            <td> <%- workout.set_num %></td>
                            <td> <%- workout.description %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
              <tr>
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Friday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                            <th scope="row">Friday</th>
                            <td> <%- workout.exercise_name %></td>
                            <td> <%- workout.reps %></td>
                            <td> <%- workout.set_num %></td>
                            <td> <%- workout.description %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
              <tr>  
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Saturday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                            <th scope="row">Saturday</th>
                            <td> <%- workout.exercise_name %></td>
                            <td> <%- workout.reps %></td>
                            <td> <%- workout.set_num %></td>
                            <td> <%- workout.description %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
              <tr>
                <% day.forEach((dayVal) => { %>
                  <% if (dayVal.day_name === 'Sunday') { %>
                     <% user.forEach((workout) => { %>
                        <% if (workout.exercise_id === dayVal.exercise_id) { %>
                          <tr>
                            <th scope="row">Sunday</th>
                            <td> <%- workout.exercise_name %></td>
                            <td> <%- workout.reps %></td>
                            <td> <%- workout.set_num %></td>
                            <td> <%- workout.description %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                  <% } %>
                <% }); %>
              </tr>
            </tbody>
          </table>
          <table>
            <tr>
          <form action="/home/delete" method="post">
              <td>
          <select name="dayName" class="form-select" aria-label="Default select example" required>
            <option selected>Day</option>
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
              </td>
            <td>
              <select name="ExerciseId" class="form-select" aria-label="Default select example" required>
            <option selected>Your Exercise</option>
            <<% user.forEach((exercise) => { %>
              <option value='<%- exercise.exercise_id %>' ><%- exercise.exercise_name %></option>
           <% }) %>     
          </select>
            </td>
          <td>
            <button type="submit" class="btn btn-primary"style="background-color:#d4e7fc;color:#3c3c3c;display:block; border-radius: 6px;font-size: 15px; width:100px" onclick="alertSomething('remove')">remove</button>
          </td>
          </form>
            </tr>
            
          </table>
          
           
        </div>

      </main>

</main>



<%- include ('../partials/footer') %>
